.list {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
  width: 300px;
  gap: 10px;
}

.avatar {
  width: 50px;
}

.name {
    font-size: 18px;
  
}

.status {
    display: block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: red;
}

.isOnline {
    background-color: green;
}